{{!-- {{search-field value=this.searchValue onChange=(action (mut this.searchValue))}}
<button {{on "click" this.onClick}} class="{{if this.disabled "disabled"}} my-button">
  Search User
</button>

{{#if this.showResults}}
  <div class="results">
    {{#each this.userResults as |user|}}
      <div class="user-result">
        <p>Result: {{result}}</p>
        <!-- Add more details as needed -->
      </div>
    {{/each}}
  </div>
{{/if}} --}}

{{search-field value=this.searchValue onChange=(action (mut this.searchValue))}}
<button {{on "click" this.onClick}} class="{{if this.disabled "disabled"}} my-button" style="margin: 5% 0 0 46%;">
  click
</button>
